<section class="testimonials-section">
  <div class="container">
    <h2 class="section-title">
        <strong>Khách hàng </strong> nói gì về chúng tôi:
      </h2>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial">
          <div class="text">
            Sau 1 lần xin visa Anh thăm bạn trai bị từ chối, tôi đã tìm hiểu kĩ và chọn BTX.
             Dù thành lập chưa lâu nhưng BTX đã tư vấn rất chu đáo và khắc phục được nhược điểm của hồ sơ trước đây.
             Chỉ sau hơn 2 tuần tôi đã có được visa, tôi rất là hài lòng và tin tưởng chọn BTX cho những chuyến đi sau này.

          </div>
          <div class="author clearfix">
            <img class="img-circle" src="/images/ico-people01.png" alt="image description">
            <div class="holder">
              <strong class="name">Chị Oanh
</strong>
              <div class="post">JetStar Pacific</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial">
          <div class="text">
            Nhóm chúng tôi gồm có 5 người cùng nhau đi du lịch tự túc Pháp – Ý – Thụy Sĩ vào dịp hè 2017. Đa số các công ty du lịch đều lo ngại khả năng đạt visa không cao vì chúng tôi chưa từng đi du lịch nước nào. Nhưng BTX đã giúp ước mơ của chúng tôi thành hiện thực với mức chi phí vô cùng hợp lý.

          </div>
          <div class="author clearfix">
            <img class="img-circle" src="/images/ico-people02.png" alt="image description">
            <div class="holder">
              <strong class="name">Anh Nhân</strong>
              <div class="post">Giám đốc công ty giày Q3 </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial">
          <div class="text">
            Tôi được bổ sung vào nhóm công tác sang Đức tham dự hội nghị nhưng lịch hẹn nộp hồ sơ quá xa ngày đi. Nhờ  BTX liên hệ lãnh sự quán xin giúp cho tôi lịch hẹn sớm hơn và xữ lý hồ sơ nhanh chóng trong vòng 2 tuần tôi đã có được visa và kịp chuyến đi với mọi người trong đoàn.

          </div>
          <div class="author clearfix">
            <img class="img-circle" src="/images/ico-people03.png" alt="image description">
            <div class="holder">
              <strong class="name">Anh Samuel</strong>
              <div class="post">Trưởng nhóm IT công ty Sony</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial">
          <div class="text">
            Em xin cảm ơn BTX đã tư vấn và chuẩn bị hồ sơ của em rất chu đáo, nhiệt tình giúp em xin được visa và tạo cơ hội cho 1 người trẻ như em được tham dự Hội nghị các nhà lãnh đạo trẻ tại Latvia tháng 9 vừa qua.


          </div>
          <div class="author clearfix">
            <img class="img-circle" src="/images/ico-people04.png" alt="image description">
            <div class="holder">
              <strong class="name">
Thông
</strong>
              <div class="post">Sinh viên Huflit</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial">
          <div class="text">
            Em xin chân thành cảm ơn các chị ở BTX đã giúp đỡ và đồng hành cùng em trong suốt quá trình 3 tháng khó khăn xin visa. Trường hợp của em rất khó và có lúc em tưởng như đã bỏ cuộc nhưng các chị đã giúp em có được visa 63 ngày thăm chị gái ở Thụy Sĩ.
          </div>
          <div class="author clearfix">
            <img class="img-circle" src="/images/ico-people05.png" alt="image description">
            <div class="holder">
              <strong class="name">
Ngân
</strong>
              <div class="post">Thiết kế nội thất công ty An Cường</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="testimonial">
          <div class="text">
            Mình được giao nhiệm vụ lo thủ tục cho sếp và đồng nghiệp đi Đảo Sip ( Cyprus) thảo luận các dự án đầu tư . Nhờ các bạn BTX tư vấn và giúp mình hoàn tất hồ sơ nhanh chóng trong vòng  4 ngày, từ nay tất cả hồ sơ cần xin visa bên cty mình đều tin tưởng giao cho BTX.

          </div>
          <div class="author clearfix">
            <img class="img-circle" src="/images/ico-people06.png" alt="image description">
            <div class="holder">
              <strong class="name">Chị Hà Thu</strong>
              <div class="post">Trợ lý giám đốc</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
