<section class="promo-links-section">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2 class="section-title section-title-sm">
          Dịch vụ Khách hàng
        </h2>
        <ul class="service-list">
          <li>Xử lý hình ảnh: <span class="free-service">miễn phí</span></li>
          <li>Photo - in tài liệu: <span class="free-service">miễn phí</span></li>
          <li>Sao y công chứng: <span class="free-service">miễn phí</span></li>
          <li>Xử lý hồ sơ, dịch thuật: <span class="free-service">Giá ưu đãi</span></li>
          <li>Đặt vé máy bay và phòng Khách sạn trên toàn Thế giới: <span class="free-service">Giá ưu đãi</span></li>
          <li>Báo giá đúng, <span class="free-service">không phát sinh</span> thêm chi phí </li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2 class="section-title section-title-sm">
          Câu hỏi thường gặp
        </h2>
        <ul class="center-list">

          <li><a href="/faq/mat-bao-lau-de-nhan-ket-qua-visa">Mất bao lâu để nhận kết quả visa kể từ khi tôi gửi hồ sơ ?</a></li>

          <li><a href="/faq/giay-to-toi-dua-cho-cong-ty-co-an-toan">Giấy tờ tôi đưa cho công ty liệu có đảm bảo an toàn không ?</a></li>

          <li><a href="/faq/cong-ty-co-ho-tro-luc-nop-ho-so">Công ty có hỗ trợ tôi lúc đi nộp hồ sơ hay phỏng vấn không ? </a></li>

          <li><a href="/faq/neu-chung-toi-bi-tu-choi-visa">Nếu chẳng may tôi bị từ chối visa thì công ty có hỗ trợ và hoàn phí gì không ?</a></li>

        </ul>
      </div>

    </div>
  </div>
</section>
