<footer>
  <div id="ajax-spinner"></div>
  <div class="footer-top">
    <div class="container">
      <div class="row">




        <div class="col-sm-3">
          <h3 class="title">Liên kết nhanh</h3>
          <ul class="menu">

            <li>
              <a href="#">
              </a>


              <li><a href="/">
              Trang chủ</a></li>




              <li><a href="/dich-vu-visa">
              Dịch vụ xin visa</a></li>




              <li><a href="/dich-vu-du-lich">
              Dịch vụ du lịch</a></li>




              <li><a href="#">
              Giới thiệu</a></li>


              <li><a href="/sao-y-dich-thuat-cong-chung">
              Sao y, dịch thuật công chứng</a></li>

              <li><a href="/bao-hiem-du-lich-quoc-te">
              Bảo hiểm du lịch quốc tế</a></li>

            </li>

          </ul>
        </div>




        <div class="col-sm-3">
          <h3 class="title">Các loại visa phổ biến</h3>
          <ul class="menu">

            <li>
              <a href="#">
              </a>
              <li><a href="/dich-vu-visa/dat-nuoc/canada">
              Visa Canada</a></li>
              <li><a href="/dich-vu-visa/dat-nuoc/uc">
              Visa Úc</a></li>
              <li><a href="/dich-vu-visa/dat-nuoc/anh-quoc">
              Visa Anh Quốc</a></li>
              <li><a href="/dich-vu-visa/dat-nuoc/duc">
              Visa Cộng Hoà Đức</a></li>
              <li><a href="/dich-vu-visa/dat-nuoc/ha-lan">
              Visa Hà Lan</a></li>
              <li><a href="/dich-vu-visa/dat-nuoc/nhat">
              Visa Nhật</a></li>
              <li><a href="/dich-vu-visa/dat-nuoc/han">
              Visa Hàn Quốc</a></li>
              <li><a href="/dich-vu-visa/dat-nuoc/phap">
              Visa Pháp</a></li>

              <li><a href="/dich-vu-visa/dat-nuoc/dan-mach">
                Visa Đan Mạch<a></li>
              <li><a href="/dich-vu-visa/dat-nuoc/y">
                  Visa Ý<a></li>
            </li>

          </ul>
        </div>




        <div class="col-sm-3">
          <h3 class="title">Địa chỉ công ty</h3>
          <ul class="menu">

            <li>
              <a href="#">
              </a>


              <li><span>
              Văn phòng nhận hồ sơ</span></li>




              <li><span>
              Lầu 3, 42/2 Nguyễn Đình Khơi, phường 4, Quận Tân Bình, Tp.HCM<span></li>


              <li><span>Điện thoại : 0976910228 - 0902603383 </span></li>




              <li><span>Email : hotro@btx.vn </span></li>

            </li>

          </ul>
        </div>



        <div class="col-sm-3 col-socials">
          <div class="phone"><a href="tel:0976910228">0976.910.228</a></div>
          <div class="phone phone-no-display"><a href="tel:0902603383">0902.603.383</a></div>
          <div class="sep">&nbsp;</div>
          <div class="clearfix">
            <ul class="socials">
              <li class="google"><a target="_blank" href="#">google</a></li>
              <li class="facebook"><a target="_blank" href="https://www.facebook.com/dichvulamvisataihcmbautroixanh">facebook</a></li>
              <li class="twitter"><a target="_blank" href="#">twitter</a></li>
            </ul>
            <span class="socials-lbl">Theo dõi chúng tôi tại</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-push-8 col-links">
          <div itemscope="" itemtype="https://schema.org/LocalBusiness">
          <img itemprop="image" src="https://www.btx.vn/images/cover.png" style="display:none;">
        &copy; Copyright 2014 - 2017 <span itemprop="name">Visa Bầu Trời Xanh</span>
          <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
            Địa chỉ:
            <span itemprop="streetAddress">42/2 Nguyen Dinh Khoi Ward 4, Tan Binh District</span>,
            <span itemprop="addressLocality">Ward 4</span>,
            <span itemprop="addressRegion">Ho Chi Minh</span>,
            <span itemprop="postalCode">700000</span>,
            <span itemprop="addressCountry">VN</span>,<br/>Tel: <span itemprop="telephone">84902603383</span> |Email: <a href="mailto:hotro@btx.vn" itemprop="email">hotro@btx.vn</a>.</div>
            <span itemprop="geo"  style="display:none;" itemscope="" itemtype="https://schema.org/GeoCoordinates">
              <meta itemprop="latitude" content="10.794527">
              <meta itemprop="longitude" content="106.65753">
            </span>
            <span itemprop="priceRange" style="display:none;">from 100 to 500</span>
            <time itemprop="openingHours" style="display:none;" datetime="Mo,Tu,We,Th,Fr,Sa,Su 09:00-18:00">09.00 a.m. to 18.00 p.m. Monday to Sunday</time>
          </div>
        </div>
        <div class="col-sm-8 col-sm-pull-4">
          Dịch vụ tư vấn visa bầu trời xanh.
        </div>
      </div>
    </div>
  </div>

</footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://btx.vn" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
