<footer>
  <div id="ajax-spinner"></div>
  <div class="footer-top">
    <div class="container">
      <div class="row">




        <div class="col-sm-3">
          <h3 class="title">Liên kết nhanh</h3>
          <ul class="menu">

            <li>
              <a href="#">
              </a>


              <li><a href="/">
              Trang chủ</a></li>




              <li><a href="/dich-vu-visa">
              Dịch vụ xin visa</a></li>




              <li><a href="/dich-vu-du-lich">
              Dịch vụ du lịch</a></li>




              <li><a href="/gioi-thieu">
              Giới thiệu</a></li>


              <li><a href="/sao-y-dich-thuat-cong-chung">
              Sao y, dịch thuật công chứng</a></li>

              <li><a href="/bao-hiem-du-lich-quoc-te">
              Bảo hiểm du lịch quốc tế</a></li>

            </li>

          </ul>
        </div>




        <div class="col-sm-3">
          <h3 class="title">Các loại visa phổ biến</h3>
          <ul class="menu">

            <li>
              <a href="#">
              </a>


              <li><a href="/visa-anh">
              Visa Anh Quốc</a></li>




              <li><a href="/visa-canada">
              Visa Canada</a></li>




              <li><a href="/visa-chau-au">
              Visa khối Châu Âu</a></li>




              <li><a href="/visa-uc">
              Visa Úc</a></li>




              <li><a href="/visa-cong-hoa-sip">
              Visa Cộng Hoà Síp</a></li>




              <li><a href="/visa-han-quoc">
              Visa Hàn Quốc</a></li>




              <li><a href="/visa-nhat-ban">
              Visa Nhật Bản</a></li>

            </li>

          </ul>
        </div>




        <div class="col-sm-3">
          <h3 class="title">Địa chỉ công ty</h3>
          <ul class="menu">

            <li>
              <a href="#">
              </a>


              <li><span>
              Văn phòng nhận hồ sơ</span></li>




              <li><span>
              Lầu 3, 42/2 Nguyễn Đình Khơi, phường 4, Quận Tân Bình, Tp.HCM<span></li>


              <li><span>Điện thoại : 0976910228 - 0902603383 </span></li>




              <li><span>Email : hotro@btx.vn </span></li>

            </li>

          </ul>
        </div>



        <div class="col-sm-3 col-socials">
          <div class="phone"><a href="tel:0976910228">0976.910.228</a></div>
          <div class="sep">&nbsp;</div>
          <div class="clearfix">
            <ul class="socials">
              <li class="google"><a target="_blank" href="#">google</a></li>
              <li class="facebook"><a target="_blank" href="#">facebook</a></li>
              <li class="twitter"><a target="_blank" href="#">twitter</a></li>
            </ul>
            <span class="socials-lbl">Theo dõi chúng tôi tại</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-push-8 col-links">

        </div>
        <div class="col-sm-8 col-sm-pull-4">
          Dịch vụ tư vấn visa bầu trời xanh. Thiết kế bởi Mr.Hung
        </div>
      </div>
    </div>
  </div>
</footer>
