<div class="container">
  <div class="row promo-columns">
    <div class="col-lg-9 col-md-9 col-sm-10" style="">
      <div class="content-holder" style="height: 331px;">
        <div class="content" style="height: 331px;">
          <div class="content-box" style="height: 331px;position: relative;">
            <h2 class="section-title">
Đến <mark>Bầu Trời Xanh </mark> nhận nhanh <strong>Visa</strong> trong <mark>4 Bước </mark>
</h2>
            <div class="row" >
              <div class="col-md-3 col-sm-6" style="">
                <div class="step first-step">
                  <div class="">
                    <div class="visual" style="">
                      <img class="img-circle" src="/images/step01.png" alt="image description">
                    </div>
                  </div>
                  <div class="holder">
                    <strong class="title">Tư Vấn</strong>
                    <p>
                      Gọi hotline: <a href="tel:0976910228">0976.910.228</a>
                    </p>
                    <p>
                      Email: hotro@btx.vn
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
                <div class="step">
                  <div class="visual">
                    <img class="img-circle" src="/images/step02.png" alt="image description">
                  </div>
                  <div class="holder">
                    <strong class="title">Chuẩn Bị Hồ Sơ</strong>
                    <p>
                      Quý khách chuẩn bị các hồ sơ cần thiết như chúng tôi đã tư vấn.
                    </p>
                  </div>
                </div>
              </div>

              <div class="visible-sm clearfix">&nbsp;</div>

              <div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
                <div class="step">
                  <div class="visual">
                    <img class="img-circle" src="/images/step03.png" alt="image description">
                  </div>
                  <div class="holder">
                    <strong class="title">Xử Lý Hồ Sơ</strong>
                    <p>
                      Chúng tôi sẽ xử lý hồ sơ đầy đủ và chính xác nhất trong khoảng 2 đến 5 ngày.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
                <div class="step">
                  <div class="visual">
                    <img class="img-circle" src="/images/step04.png" alt="image description">
                  </div>
                  <div class="holder">
                    <strong class="title">Nộp Hồ Sơ</strong>
                    <p>
                      Chúng tôi sẽ hỗ trợ Quý khách trong suốt quá trình này.
                    </p>
                  </div>
                </div>
              </div>
            </div>





          </div>
        </div>
      </div>
    </div>
  </div>
</div>
