<meta http-equiv="content-type" content="text/html;charset=UTF-8" />


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Visa Bầu trời xanh : Đến là bay</title>
  <meta name="description" content="Dịch vụ làm visa - thị thực đi Anh, Pháp, Canada, Các nước Châu Âu,Châu Mỹ tại HCM.Hỗ trợ làm visa du lịch, thăm thân, công tác, định cư ">




  <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />

  <link rel="canonical" href="index.html" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- <link rel="stylesheet" href="/assets/css/style.critical.path.min.css"> -->
  <script type="application/ld+json ">
    /*{ "@context" : "http://schema.org", "@type" : "Organization", "name" : "Passports and Visas.com", "url" : "https://www.btx.vn", "logo": "", "sameAs" :
    [ "https://plus.google.com/114344361248825551448/about", "https://www.facebook.com/passportsandvisas", "https://twitter.com/passportsvisas", "https://www.instagram.com/passportsandvisas", "https://www.linkedin.com/company/passports-and-visas-com"]
  }*/
  </script>


  <script type="application/ld+json">
    { "@context": "http://schema.org/", "@type": "Service", "name": " btx.com ", "aggregateRating": { "@type": "AggregateRating", "ratingValue": " 9.1 ", "bestRating": "10", "worstRating": "1", "ratingCount": " 769 " } }
  </script>

  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/bootstrap-editable.css"/>
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="/css/owl.carousel.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <link rel="stylesheet" href="/css/responsiveab89.css?v=20171004162753"/>
  <link rel="stylesheet" href="/css/center-simple.css"/>
  <link rel="stylesheet" href="/css/bootstrap-datepicker.css"/>
  <link rel="stylesheet" href="/css/select2.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css"/>
  <link href="/css/flag-icon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
