<div role="navigation" class="navbar container ">

  <div class="navbar-header">

    <div class="menu-btn navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
      <span class="menu-btn__top"></span>
      <span class="menu-btn__middle"></span>
      <span class="menu-btn__bottom"></span>
    </div>

    <div class="top-area">

      <span class="phone-box promoNumber"><a href="tel:0976910228">0976.910.228</a>&nbsp; • &nbsp; <a href="tel:0902603383">0902.603.383</a></span>


    </div>

    <a class="logo navbar-brand logo-whie" href="/">btx.vn</a>


    <a data-toggle="modal" data-target="#modal-get-started" class="mob-starter" style="display: none">Get Started</a>

  </div>

  <div class="hidden-xs">
    <div class="clearfix">
      <div class="login-btns">
        <div class="button bg button-dark-blue last">
          <a href="/visa-cua-ban" class="">Visa của bạn</a>
        </div>
      </div>

      <ul class="main-nav navbar-right clearfix">
        <li><a href="/">Trang Chủ</a></li>
        <li><a href="/dich-vu-xin-visa">Dịch Vụ xin visa</a></li>
        <li><a href="/dich-vu-du-lich">Dịch Vụ Du Lịch</a></li>
        <li><a href="/dich-vu-ho-tro-khac">Dịch Vụ Hỗ Trợ Khác</a></li>
        <li><a href="/gioi-thieu">Giới Thiệu</a></li>
        <li><a href="/cau-hoi-thuong-gap">Câu hỏi thường gặp</a></li>
      </ul>

    </div>
  </div>

  <div class="collapse navbar-fixed-top navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav visible-xs">
      <li class="list-inline">
        <a href="https://www.passportsandvisas.com/account/status">Order Status</a>
      </li>
      <li><a href="https://www.passportsandvisas.com/visas">Travel Visas</a></li>
      <li><a href="https://www.passportsandvisas.com/about">About</a></li>
      <li><a href="https://www.passportsandvisas.com/how-it-works">How it Works</a></li>
      <li><a href="https://www.passportsandvisas.com/about/contact">Contact</a></li>
    </ul>

    <ul class="nav navbar-nav nav-services visible-xs">


      <li><a href="https://www.passportsandvisas.com/passport/new">New Passport</a></li>

      <li><a href="https://www.passportsandvisas.com/passport/second-passport">Second Passport</a></li>

      <li><a href="https://www.passportsandvisas.com/passport/name-change">Passport Name Change</a></li>

      <li><a href="https://www.passportsandvisas.com/passport/lost">Lost Passport</a></li>

      <li><a href="https://www.passportsandvisas.com/passport/child">Child Passport</a></li>

      <li><a href="https://www.passportsandvisas.com/passport/renewal">Passport Renewal</a></li>


    </ul>
  </div>

</div>
