<meta http-equiv="content-type" content="text/html;charset=UTF-8" />


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><% if(typeof title != "undefined"){ %>
   <%=title %>
 <% } else{ %>
   Visa bầu trời xanh dịch vụ xin visa uy tín HCM - BTX.VN
<% } %>

  </title>
  <%
    var description = "Dịch vụ làm visa uy tín tại TP.HCM hỗ trợ xin visa đi Anh, Pháp, Canada, Các nước Châu Âu, Châu Mỹ tại HCM.Hỗ trợ làm visa du lịch, thăm thân, công tác, định cư";
    if(typeof des != "undefined"){
      description = des ;
    }

  %>

  <meta name="description" content="<%=description %>"/>
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  <meta property="og:url"                content="https://btx.vn" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Visa bầu trời xanh" />
  <meta property="og:description"        content="Dịch vụ làm visa đi Canada, Anh, Pháp, Châu Âu ..." />
  <meta property="og:image"              content="https://btx.vn/images/cover.png" />


  <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />

  <link rel="canonical" href="index.html" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- <link rel="stylesheet" href="/assets/css/style.critical.path.min.css"> -->
  <script type="application/ld+json ">

  </script>




  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/bootstrap-editable.css"/>
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="/css/owl.carousel.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <link rel="stylesheet" href="/css/responsiveab89.css?v=20171004162753"/>
  <link rel="stylesheet" href="/css/center-simple.css"/>
  <link rel="stylesheet" href="/css/bootstrap-datepicker.css"/>
  <link rel="stylesheet" href="/css/select2.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css"/>
  <link href="/css/flag-icon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="alternate" href="https://btx.vn" hreflang="vi-vn" />
  <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5a0e6181198bd56b8c03ba7e/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</head>
