<div role="navigation" class="navbar container ">

  <div class="navbar-header">

    <div class="menu-btn navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
      <span class="menu-btn__top"></span>
      <span class="menu-btn__middle"></span>
      <span class="menu-btn__bottom"></span>
    </div>

    <div class="top-area">

      <span class="phone-box promoNumber"><a href="tel:0976910228">0976.910.228</a>&nbsp; • &nbsp; <a href="tel:0902603383">0902.603.383</a></span>


    </div>

    <a class="logo navbar-brand logo-whie" href="/">btx.vn</a>


    <a href="tel:0976910228" class="mob-starter" style="display: none">Liên hệ </a>

  </div>

  <div class="hidden-xs">
    <div class="clearfix">
      <div class="login-btns">
        <div class="button bg button-dark-blue last">
          <a href="#" class="">Visa của bạn</a>
        </div>
      </div>

      <ul class="main-nav navbar-right clearfix">
        <li><a href="/">Trang Chủ</a></li>
        <li><a href="/dich-vu-visa">Dịch Vụ xin visa</a></li>
        <li class="has-drop">
          <a href="#">Dịch Vụ Du Lịch</a>
          <ul class="drop-menu">
            <li><a href="/dich-vu-khac">Đặt vé máy bay, khách sạn</a></li>
            <li><a href="/dich-vu-khac">Bảo hiểm du lịch quốc tế</a></li>
          </ul>
        </li>
        <li class="has-drop"><a href="#">Dịch Vụ Hỗ Trợ Khác</a>
            <ul class="drop-menu">
                <li><a href="/dich-vu-khac">Sao y, dịch thuật, công chứng</a></li>
                <li><a href="/dich-vu-khac">Công văn nhập cảnh</a></li>
            </ul>
          </li>
        <!--<li><a href="/gioi-thieu">Giới Thiệu</a></li>-->
        <!--<li><a href="/cau-hoi-thuong-gap">Câu hỏi thường gặp</a></li>-->
      </ul>

    </div>
  </div>

  <div class="collapse navbar-fixed-top navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav visible-xs">
      <li><a href="/">Trang Chủ</a></li>
      <li><a href="/dich-vu-visa">Dịch Vụ xin visa</a></li>
      <li><a href="/dich-vu-khac">Dịch Vụ Du Lịch</a></li>
      <li><a href="/dich-vu-khac">Sao y, dịch thuật, công chứng</a></li>

      <li><a href="/dich-vu-khac">Bảo hiểm du lịch quốc tế</a></li>

    </ul>

    <ul class="nav navbar-nav nav-services visible-xs">
      <!--<li><a href="/gioi-thieu">Giới Thiệu</a></li>-->
      <li><a href="/cau-hoi-thuong-gap">Câu hỏi thường gặp</a></li>
    </ul>
  </div>

</div>
