<!-- <link rel="stylesheet" href="/assets/css/style.min.css"> -->
<script src="/js/vendor/jquery-1.11.1.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/bootstrap-select.min.js"></script>
<script src="/js/vendor/bootstrap-datepicker.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/numeral.js/1.4.5/numeral.min.js"></script>
<script src="/js/vendor/spin.js"></script>
<script src="/js/vendor/jquery.bxslider.min.js"></script>
<script src="/js/vendor/owl.carousel.min.js"></script>
<script src="/js/vendor/jquery.matchHeight-min.js"></script>
<script src="/js/jquery.rwdImageMaps.min.js"></script>

<!-- order processing start -->
<script src="/js/countries.js"></script>
<script src="/js/main.js"></script>
<!--<script src="/js/3thparty2d48.js?v=20161116021833"></script>-->
<script src="/js/vendor/jquery.PageScroll2id.min.js"></script>
