<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 sidebar">
  <div class="side-box">
    <strong class="head">Có thể bạn quan tâm</strong>
    <ul class="side-menu">
        <li><a class="important" href="/post/canh-giac-voi-visa-bao-dau"><span class="type">Kinh nghiệm</span>Cảnh giác với visa bao đậu</a></li>
        <li><a href="/post/top-10-quoc-gia-dang-song"><span class="type">Chia sẻ</span>Top 10 quốc gia đáng sống</a></li>
        <li><a href="/post/11-canh-tuyet-dep-canada"><span class="type">Chia sẻ</span>11 cảnh tuyệt đẹp ở Canada mà bạn nhất định phải đến</a></li>
        <li><a href="/post/kham-pha-6-canh-dep-toronto-canada"><span class="type">Chia sẻ</span>Khám phá 6 cảnh đẹp Toronto</a></li>
        <li><a href="/post/cung-nhau-tim-hieu-ve-thanh-pho-ottawa-canada"><span class="type">Chia sẻ</span>Cùng nhau tìm hiểu về thành phố Ottawa ở Canada</a></li>
        <li><a href="/post/ottawa-thanh-pho-dep-nhu-mo"><span class="type">Chia sẻ</span>Ottawa thành phố đẹp như mơ</a></li>
    </ul>
  </div>
  <div class="side-box">
    <iframe width="100%" src="https://www.youtube.com/embed/9wDFYr5DMsA" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="side-box side-box-contact">
    <strong class="head">Hotline <b>24/7</b></strong>
    <ul class="side-menu side-menu-contact" >
        <li><a href="tel:0976910228">0976.910.228</a></li>
        <li><a href="tel:0902603383">0902.603.383</a></li>
    </ul>
  </div>
 <div class="side-box side-box-fb">
   <div class="fb-page" data-href="https://www.facebook.com/dichvulamvisataihcmbautroixanh/" data-width="300 " data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/dichvulamvisataihcmbautroixanh/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/dichvulamvisataihcmbautroixanh/">Visa Bầu Trời Xanh</a></blockquote></div>
 </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
