<div class="top-bar-holder">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-menu">
          <form action="#" class="top-bar-filter country-filter visas-states" id="visas-form" method="POST">
            <fieldset>

                <select class="form-control" name="country_slc" id="country_slc" data-live-search="true"  >
                  <option value="" disabled selected>Chọn nước bạn muốn đi</option>

                </select>

            </fieldset>
          </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <a href="tel:0976910228">
            <div class="quick-contact tp-widget-trustscore ng-binding">Tư Vấn Nhanh: <mark>0976.910.228<mark></div>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="trustpilot-widget">

            <div id="tp-widget-wrapper" class="tp-widget-wrapper visible">

                <div class="tp-widget-trustscore ng-binding">
                  Tuyệt vời </div>
                <div class="tp-widget-stars">
                  <div class="star-rating clearfix star-5">
                    <div class="star-1"><img src="/images/sprite_star.png" width="10" height="10"></div>
                    <div class="star-2"><img src="/images/sprite_star.png" width="10" height="10"></div>
                    <div class="star-3"><img src="/images/sprite_star.png" width="10" height="10"></div>
                    <div class="star-4"><img src="/images/sprite_star.png" width="10" height="10"></div>
                    <div class="star-5"><img src="/images/sprite_star.png" width="10" height="10"></div>
                  </div>
                </div>
                <div class="tp-widget-rating ng-binding"><span class="text">dựa vào</span> <span class="text"><strong>769</strong> đánh giá</span></div>


            </div>


          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<section class="visas-compare" id="visas-compare">
  <div class="container">
    <div class="table-responsive" id="supported_service">
      <table class="table table-compare">
        <thead>
          <tr>
            <th scope="col">Chúng Tôi Hỗ Trợ</th>
            <th scope="col">Có Cần Visa ?</th>
            <th scope="col">Thông Tin Visa</th>
            <th class="hidden-xs">Chi Tiết Thủ Tục</th>
          </tr>
        </thead>
        <tbody id="avalible_visas">


          <tr>
            <td scope="row" data-label="AVAILABLE VISAS">
              <strong class="title">Du Lịch</strong>
            </td>
            <td data-label="IS A VISA REQUIRED?">

              <strong class="required">
                    Có
                    <var></var>
                  </strong>


            </td>
            <td>
              <p>Visa để du lịch tự túc tại <span type="uc">Anh</span> <span class="moreThan30Days required">( không cần visa nếu đi dưới 30 ngày )</span></p>
            </td>
            <td>

              <a href="russia/tourist/SG.html" class="btn btn-link t-compare-link">Xem thủ tục</a>

            </td>
          </tr>

          <tr>
            <td scope="row" data-label="AVAILABLE VISAS">
              <strong class="title">Thăm Thân</strong>
            </td>
            <td data-label="IS A VISA REQUIRED?">

              <strong class="required">
                    Có
                    <var></var>
                  </strong>


            </td>
            <td>
              <p>Visa để thăm người thân, bạn bè, người yêu ... ở <span type="uc">Anh</span></p>
            </td>
            <td>

              <a href="russia/tourist/SG.html" class="btn btn-link t-compare-link">Xem thủ tục</a>

            </td>
          </tr>

          <tr>
            <td scope="row" data-label="AVAILABLE VISAS">
              <strong class="title">Công Tác</strong>
            </td>
            <td data-label="IS A VISA REQUIRED?">

              <strong class="required">
                    Có
                    <var></var>
                  </strong>


            </td>
            <td>
              <p>Visa đi công tác, dự hội nghị, hội thảo, hội chợ, tham gia khoá học ngắn hạn ... tại <span type="uc">Anh</span></p>
            </td>
            <td>

              <a href="russia/business/SG.html" class="btn btn-link t-compare-link">Xem thủ tục</a>

            </td>
          </tr>

          <tr>
            <td scope="row" data-label="AVAILABLE VISAS">
              <strong class="title">Định Cư</strong>
            </td>
            <td data-label="IS A VISA REQUIRED?">

              <strong class="required">
                    Có
                    <var></var>
                  </strong>


            </td>
            <td>
              <p>Visa hôn phu, hôn thê, đã kết hôn để sang sinh sống tại <span type="uc">Anh</span></p>
            </td>
            <td>

              <a href="russia/work/SG.html" class="btn btn-link t-compare-link">Xem thủ tục</a>

            </td>
          </tr>



        </tbody>
      </table>

    </div>
  </div>
</section>
