<section class="benefits-section caret-bottom grey">
   <div class="container">
      <h2 class="section-title">
         Tại sao bạn nên chọn Visa <strong class="">Bầu trời xanh</strong>
      </h2>
      <div class="row">
         <div class="col-lg-12">
            <div class="row">
               <div class="col-sm-6">
                  <div class="benefit">
                     <strong class="title">
                     <img src="/images/benefit-1.png" alt="image description">
                     Nhân viên tư vấn
                     </strong>
                     <p>
                        Chúng tôi có đội ngũ tư vấn viên chuyên nghiệp cho từng quốc gia, người sẽ đồng hành với quý khách cho đến khi xin được visa.
                        <br/> <strong> Cam kết hỗ trợ đầy đủ trong suốt quá trình xin visa - phỏng vấn - khiếu nại.</strong>
                     </p>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div class="benefit">
                     <strong class="title">
                     <img src="/images/benefit-2.png" alt="image description">
                     Dịch vụ nhanh chóng, đúng hẹn
                     </strong>
                     <p>
                        Chúng tôi luôn tuân thủ đúng thời gian hoàn tất hồ sơ như đã thông báo với quý khách.<br/>
                        <strong>Cam kết không trễ hẹn làm ảnh hưởng tới lịch trình của quý khách</strong>
                     </p>
                  </div>
               </div>
               <div class="clearfix hidden-xs sep"></div>
               <div class="col-sm-6">
                  <div class="benefit">
                     <strong class="title">
                     <img src="/images/benefit-3.png" alt="image description">
                    Uy tín, tỉ lệ đậu cao
                     </strong>
                     <p>
                       Với đội ngũ giàu kinh nghiệm về xử lý hồ sơ, Chúng tôi sẽ tư vấn chính xác về khả năng đậu visa của quý khách.
                       Cũng như báo chính xác chi phí trọn gói, không phát sinh thêm.
                       <br/><strong>Cam kết không tư vấn với tỉ lệ ảo.</strong>
                     </p>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div class="benefit">
                     <strong class="title">
                     <img src="/images/benefit-4.png" alt="image description">
                     An toàn thông tin
                     </strong>
                     <p>
                        Thông tin, giấy tờ của quý khách đươc bảo vệ nghiêm ngặt. Mọi giấy tờ quý khách gửi lại sẽ được ghi biên nhận chi tiết.
                        <br/><strong>Cam kết không làm mất giấy tờ, không tiết lộ thông tin khách hàng.</strong>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
