<!DOCTYPE html>
<html class="no-js" lang="en">


 <% include ../partials/head.html %>

<body>

  <div class="layout ">
    <div class="promo-med  promo-block promo-block-visa-details" style="background-image:url(/images/russia-visa.jpg);">
      <header>
        <% include ../partials/header.html %>
      </header>


      <div class="modal fade" id="modal-get-started" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                        <i class="fa fa-times"></i>
                </span>
              </button>
           </div>
          </div>
        </div>
      </div>
        <!-- 4 steps -->
      <% include ../partials/foursteps.html %>
    </div>

<% include ../partials/visa-services.html %>
    <!-- visa services -->
    <section class="container main-content white caret-bottom" style="padding-bottom:50px">
      <br/><br/>
      <div class="container">
        <div class="row">
          <article class="content-block col-lg-9 col-md-8 col-sm-8">
            <h2>
              Cảnh giác với lời "đảm bảo visa"
            </h2>
            <p>
              <strong>
              Đảm bảo có visa, tỉ lệ visa 100%, tỉ lệ đạt visa rất cao... Đó là những lời hứa mà nhiều công ty tư vấn visa đưa ra nhằm lôi kéo khách hàng đến với mình. Thế nhưng...
              </strong>
            </p>
            <p>
            Đã hoàn thành thủ tục, chuẩn bị lên đường sang Canada du học, nhưng N.T.T. vẫn chưa nguôi ấm ức sau khi nhận “cú lừa” của Công ty tư vấn du học V trên đường Lê Văn Sĩ, TP.HCM. Tốt nghiệp THPT với kết quả không đến nỗi nào, T. được gia đình tạo điều kiện đi du học. Sau khi tìm hiểu một số nơi, gia đình T. quyết định trông cậy vào Công ty V để tư vấn và làm thủ tục du học cho con. Vì muốn T. sớm lên đường nên gia đình hầu như đáp ứng đủ các yêu cầu của Công ty V. Khi công ty gợi ý dùng dịch vụ đảm bảo visa cho T., bố mẹ T. cũng đồng ý, kèm theo đó số tiền hơn 1.000 USD.
            </p>
            <img class="img-responsive image-post" src="https:////static.new.tuoitre.vn/tto/i/s626/2007/10/05/TK0Djxfq.jpg" />
            <p class="img-description">
              Phụ huynh đặt câu hỏi về thủ tục làm visa du học Mỹ với viên chức Lãnh sự quán Mỹ tại triển lãm các trường cao đẳng cộng đồng Hoa Kỳ tổ chức ở TP.HCM ngày 3-10 - Ảnh: N.Hùng
            </p>
            <strong> Chỉ là một cách làm tiền? </strong>
            <p>
              Mẹ T. kể lại: “Họ bảo có quan hệ với người của lãnh sự quán. Trường hợp nào được họ gửi gắm đều đậu visa cả”. Thế nhưng, kết quả T. đã không được cấp visa trong lần phỏng vấn đầu tiên. Gia đình T. bức xúc vì vừa tốn tiền, lại vừa mất mấy tháng trời chạy tới chạy lui chuẩn bị hàng loạt thủ tục. Chất vấn công ty thì được trả lời vì T. trả lời phỏng vấn chưa khéo, hồ sơ còn vài chỗ chưa tốt... Thế nhưng sau đó khi chuyển sang làm thủ tục tại một công ty tư vấn khác, T. đã được cấp visa và chuẩn bị lên đường sang Canada du học.
            </p>
            <p>
              “Cú lừa” của Công ty V không phải là cá biệt. Đến một công ty tư vấn trên đường Phan Đình Phùng, Q.Phú Nhuận (TP.HCM), sau khi nghe khách trình bày “lý lịch trích ngang” khá tốt, cô nhân viên tư vấn vội vàng “hù”: “Hồ sơ của anh có thể mạnh đấy. Nhưng nếu không biết làm chắc chắn sẽ trở thành yếu ngay. Chúng tôi sẽ có cách làm để đảm bảo xin được visa”.
            </p>
            <p>
              Nhiều công ty còn mạnh miệng công khai việc đảm bảo visa là một thế mạnh của mình. Chẳng hạn như Công ty tư vấn VN trong mẩu thông tin giới thiệu về các ngành học quản lý nhà hàng khách sạn tại Thụy Sĩ tuyên bố sẽ đảm bảo visa. Công ty VI thì khẳng định: “Hồ sơ thị thực du học do VI hướng dẫn đạt tỉ lệ thành công cao từ 96% đến 100%”. Cá biệt, có đơn vị như UKR Educational Travel còn dám rêu rao rằng những học sinh khi đến với đơn vị này sẽ được đảm bảo visa 100% kể cả trường hợp... không có học bạ hoặc học bạ bị tẩy xóa!
            </p>
            <strong>
                Không thể tin!
            </strong>
            <p>
              Nhận xét về những lời quảng cáo này, chuyên viên phụ trách giáo dục của một lãnh sự quán khẳng định: “Hơn sáu năm làm việc tại đây, tôi cũng chưa dám chắc hồ sơ nào có thể xin được hay không”. Lãnh sự quán Hoa Kỳ tại TP.HCM cũng có lời khuyên học sinh, sinh viên: “Đừng tin bất kỳ người nào nếu họ nói có thể giúp bạn lấy được visa. Đừng trả tiền làm giấy tờ giả mạo vì viên chức lãnh sự nào cũng được đào tạo kỹ năng phát hiện giấy tờ giả cũng như những lời khai man”.
            </p>
            <p>
              Phó lãnh sự Thụy Sĩ tại TP.HCM cũng khẳng định: “Đại sứ quán và Tổng lãnh sự quán Thụy Sĩ không đảm bảo cho các trung tâm môi giới visa. Có một số trung tâm tư vấn quảng cáo về khả năng “đảm bảo visa” sang Thụy Sĩ. “Khả năng” này không được Đại sứ quán, Tổng lãnh sự quán Thụy Sĩ xác nhận là hợp lệ”.
            </p>
            <p style="float:right">
              <strong>Nguồn </strong> : tuoitre.vn
            </p>
          </article>
          <% include ../partials/side-box.html %>
        </div>
      </div>
    </section>

    <% include ../partials/why-us.html %>
    <% include ../partials/customer-say.html %>
    <% include ../partials/footer.html %>
    <% include ../partials/review.html %>
  </div>
  <% include ../partials/js.html %>
  <script src="/js/visa-services.js"></script>

</body>



</html>
