<!DOCTYPE html>
<html class="no-js" lang="en">


 <% include ../partials/head.html %>

<body>

  <div class="layout ">
    <div class="promo-med  promo-block promo-block-visa-details" style="background-image:url(/images/russia-visa.jpg);">
      <header>
        <% include ../partials/header.html %>
      </header>


      <div class="modal fade" id="modal-get-started" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                        <i class="fa fa-times"></i>
                </span>
              </button>
           </div>
          </div>
        </div>
      </div>
        <!-- 4 steps -->
      <% include ../partials/foursteps.html %>
    </div>

<% include ../partials/visa-services.html %>
    <!-- visa services -->
    <section class="container main-content white caret-bottom" style="padding-bottom:50px">
      <br/><br/>
      <div class="container">
        <div class="row">
          <article class="content-block col-lg-9 col-md-8 col-sm-8">
            <h2>
              Cùng nhau tìm hiểu về thành phố Ottawa ở Canada
            </h2>
            <p>
              Cũng giống thủ đô các nước khác, Ottawa là nơi đặt bộ máy hành chính với các văn phòng chính phủ nhiều hơn là những công ty. Nhưng cũng chính vì lẽ đó, Ottawa là môi trường lý tưởng cho những ai muốn một cuộc sống thanh bình, êm ả. Ngoài ra đây còn là một thành phố của lễ hội quanh năm. cùng tìm hiểu những điểm du lịch đẹp nhất ở ottawa


            </p>
            <div class="related-url">
              <ul>
                <li><a href="/dich-vu-visa/dat-nuoc/canada">Thủ tục xin visa Canada</a></li>
              </ul>
            </div>
            <p>
              <strong>1. Kênh Rideau</strong><br/>
              Là 1 công trình ghi dấu ấn của kỹ thuật xây dựng thế kỉ 19, kênh Rideau được xây dựng như một hào lũy để chống lại quân đội Mỹ , trong lịch sử. Con kênh dẫn nước hòa vào dòng sông Ottawa, chảy qua những công viên, bảo tàng cùng các công trình lịch sử khác. Hiện nay kênh Rideau đã được UNESCO công nhận là di sẳn văn hóa thế giới.
            </p>
            <img class="img-responsive image-post" src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAxfAAAAJGViMTFhOWQ4LWZmYWItNDkxMi1hMDAyLWExNzY2ZDAyM2QxMg.jpg" />
            <p class="img-description">Kênh Rideau</p>
            <p>
            <strong>2. Vui chơi</strong><br/>
            Ottawa cũng có các địa điểm giải trí khá tấp nập, chủ yếu tập trung ở ba khu vực: khu chợ ByWard, phố Bank đoạn ở vùng Glebe, phố Elgin đoạn qua Queensway và Parliament Hill và bố trí theo hoạt động như: Sòng bạc, nhạc sống, rạp hát, rạp chiếu phim, thể thao.


</p>
<img class="img-responsive image-post" src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAmsAAAAJDI5Y2UwZjBjLWU5MzItNDY3ZS04M2EzLWE5YzExNzQ4MmU5Yg.jpg" />
<p class="img-description"> Khu giải trí</p>

<p>Là công viên đô thị đầu tiên của Canada, cũng là Vườn quốc gia đầu tiên của Canada, Rouge Park của Toronto, hình thành từ thế kỷ 18 được xem như một trong những “bí mật được gìn giữ tốt nhất” của Toronto. Tại đây có khu vực hoang dã, các di tích lịch sử được lưu giữ, những con đường mòn rộng lớn kéo dài, có các cảnh quan ấn tượng như Rouge Beach và Rouge River. Công viên này cũng là một trong 13 điểm tốt nhất dành cho những ai yêu thích khám phá thế giới chim chóc ở Toronto.
</p>
<p>
<strong>3.Lễ hội hoa tulip</strong>

Mùa xuân ở Ottawa rất đẹp, ánh mặt trời xuyên qua màu xanh bạt ngàn của lá, những chồi xanh, chồi hồng đã nhú lên đầu cành và những nụ hoa tulip cũng hé nở trên khắp thành phố. hàng năm lễ hội hoa tulip diễn ra vào hai tuần đầu tiên của tháng 5. Ở Ottawa hiện vẫn đang trồng hơn 100 nghìn bông hoa thuộc 200 giống tulip được tặng từ năm 1945 bởi gia đình hoàng gia Hà Lan để bày tỏ sự biết ơn Canada đã bảo vệ mẹ con công chúa trong Chiến Tranh Thế Giới II.

</p>
<img class="img-responsive image-post" src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAtPAAAAJDA5NTI1NGRkLWE3YjktNGNjZi05ZDNiLWRmMDhhYzIwMmFmMA.jpg" />

<p class="img-description">Lễ hội hoa Tulip</p>
<p>
<strong>4. Bảo tàng tại Ottawa</strong>

Rất nhiều bảo tàng đẹp nổi tiếng thế giới tại Ottawa chỉ cách nhau có vài phút đi bộ. Một số tòa nhà sẵn sàng mở cửa cho khách du lịch vào miễn phí, nhưng chỉ trong một tiếng cuối cùng. Các bảo tàng có thể kể đến là bảo tàng văn minh Canada, bảo tàng chiến tranh Canada,…
</p>
<img class="img-responsive image-post" src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAqQAAAAJDM0OTU4MGFjLTI0Y2MtNDc5OC1iMTE5LTY0MzZiYTQ2N2MzYw.jpg" />
<p class="img-description">Bảo tàng tại Ottawa</p>
<p>
<strong>5. Ẩm thực</strong>

Ẩm thực đa dạng phong phú là điều góp phần đa dạng văn hóa ở Ottawa. Dù có mang phong cách ẩm thực từ nơi nào trên thế giới, các món ăn ở đây đều được chế biến từ nguyên liệu tươi ngon từ chính địa phương này. Một số địa chỉ ẩm thực nổi bật ở Ottawa: Town, Fraser Café, Beckta Dining & Wine
</p>
<img class="img-responsive image-post" src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAsVAAAAJDFhMGQ5MzcyLTZmMzctNGM2Mi1iNzIxLWZlZWZiNmE0ZDRlZg.jpg"/>

<p class="img-description">Ẩm thực</p>
<p>
          </article>
          <% include ../partials/side-box.html %>
        </div>
      </div>
    </section>

    <% include ../partials/why-us.html %>
    <% include ../partials/customer-say.html %>
    <% include ../partials/footer.html %>
    <% include ../partials/review.html %>
  </div>
  <% include ../partials/js.html %>
  <script src="/js/visa-services.js"></script>

</body>



</html>
