<!DOCTYPE html>
<html class="no-js" lang="en">


 <% include ../partials/head.html %>

<body>

  <div class="layout ">
    <div class="promo-med  promo-block promo-block-visa-details" style="background-image:url(/images/russia-visa.jpg);">
      <header>
        <% include ../partials/header.html %>
      </header>


      <div class="modal fade" id="modal-get-started" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                        <i class="fa fa-times"></i>
                </span>
              </button>
           </div>
          </div>
        </div>
      </div>
        <!-- 4 steps -->
      <% include ../partials/foursteps.html %>
    </div>


    <!-- visa services -->

    <section class="benefits-section about-section caret-bottom grey">

      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <h2 class="section-title section-title-sm faq-title">
              Câu hỏi thường gặp
            </h2>
            <ul class="center-list">

              <li class="faq">
                <strong>Hỏi : Mất bao lâu để nhận kết quả visa kể từ khi tôi gửi hồ sơ ?</strong>
                <br/>
                Trả lời : 1 bộ hồ sơ của quý khách trung bình BTX xữ lý trong vòng từ 3-5 ngày, ngày nộp hồ sơ tùy theo lịch hẹn còn trống của Lãnh sự quán. Các nước có ngày lịch hẹn nộp hồ sơ xa  như  Pháp, Thụy Sĩ, Đức, Hungary, Ba Lan, Hy Lạp,…xin quý khách vui lòng liên hệ BTX sớm để canh lịch hẹn trước cho kịp chuyến đi. Kể từ ngày nộp hồ sơ, trung bình từ 14-21 ngày làm việc là có kết quả. Đặc biệt quý khách cần lưu ý là Đức trả kết quả trong vòng 10 ngày làm việc, Canada và Phần Lan xét hơn 1 tháng và Ireland là 8 tuần.

              </li >

              <li class="faq">
                <strong>Hỏi : Giấy tờ tôi đưa cho công ty liệu có đảm bảo an toàn không ?</strong><br/>
                Trả lời : BTX luôn khuyến khích quý khách hàng chuẩn bị các giấy tờ, tài liệu bản photo sao y công chứng, hạn chế nộp bản gốc. Đối với các bản gốc không thể sao y công chứng, BTX sẽ có biên nhận bảo đảm không làm thất lạc giấy tờ cũng như cam kết các tài liệu khách hàng đưa chỉ sử dụng vào mục đích hoàn thiện hồ sơ thủ tục visa cho khách.

              </li>

              <li class="faq" >
                <strong>Hỏi : Công ty có hỗ trợ tôi lúc đi nộp hồ sơ hay phỏng vấn không ?</strong><br/>
                  Trả lời : Đối với các nước có trung tâm tiếp nhận hồ sơ riêng gọi là VFS: Anh, Úc, New Zealand, Hà Lan, Phần Lan, Ý, Iceland, Đan Mạch, Nauy, Bỉ, Thụy Điển… BTX sẽ hướng dẫn cách thức cho khách đi nộp và có thể đi cùng với khách để bảo đảm khách nộp được hồ sơ trọn vẹn.
Đối với các nước ngoài VFS, chỉ có đương đơn có tên trong lịch hẹn được vào bên trong nên BTX sẽ hướng dẫn kĩ lưỡng và quý khách tự đi nộp.

              </li>

              <li class="faq" >
                <strong>Hỏi : Nếu chẳng may tôi bị từ chối visa thì công ty có hỗ trợ và hoàn phí gì không ?</strong><br/>
                Trả lời : BTX xin giải thích cho quý khách được rõ là BTX chỉ hỗ trợ nâng khả năng đậu visa của quý khách lên mức cao nhất có thể, phần xét duyệt hồ sơ tùy thuộc vào khả năng của từng cá nhân người nộp đơn, người bảo lãnh và trực giác của nhân viên Lãnh sự quán. Không có bất kỳ 1 công ty nào có mối liên hệ hoặc tác động được tới kết quả xét hồ sơ visa.
Phí bên BTX thu của quý khách bao gồm phí tư vấn, dịch thuật, khai hồ sơ, đặtvé máy bay, khách sạn, bảo hiểm… các phí này cũng như là phí lãnh sự KHÔNG HOÀN TIỀN vì BTX đã thanh toán tiền cho bộ phận dịch thuật cũng như  bộ phận xữ lý hồ sơ của quý khách.
Nếu quý khách bị từ chối visa, BTX sẽ hoàn trả phí BH du lịch. Tùy theo lý do bị từ chối của quý khách và quy định của lãnh sự, BTX sẽ cố gắng hết sức giúp quý khách kháng cáo hoặc xin phúc thẩm lại hồ sơ, các chi phí phát sinh BTX sẽ không thu.


              </li>
              <li class="faq" >
                <strong>Hỏi : Tôi hộ khẩu Nha Trang nhưng hiện đang tạm trú và công tác tại TP.HCM, vậy tôi phải nộp hồ sơ xin visa Pháp tại đâu?
 ?</strong><br/>
                Trả lời : 1 bộ hồ sơ của quý khách trung bình BTX xữ lý trong vòng từ 3-5 ngày, ngày nộp hồ sơ tùy theo lịch hẹn còn trống của Lãnh sự quán. Các nước có ngày lịch hẹn nộp hồ sơ xa  như  Pháp, Thụy Sĩ, Đức, Hungary, Ba Lan, Hy Lạp,…xin quý khách vui lòng liên hệ BTX sớm để canh lịch hẹn trước cho kịp chuyến đi. Kể từ ngày nộp hồ sơ, trung bình từ 14-21 ngày làm việc là có kết quả. Đặc biệt quý khách cần lưu ý là Đức trả kết quả trong vòng 10 ngày làm việc, Canada và Phần Lan xét hơn 1 tháng và Ireland là 8 tuần.



              </li>

            </ul>
          </div>

        </div>
      </div>
    </section>

    <% include ../partials/footer.html %>
  </div>
  <% include ../partials/js.html %>
  <script>
    //init country select box
    $('document').ready(function(){


    });
  </script>

</body>



</html>
