<!DOCTYPE html>
<html class="no-js" lang="en">


 <% include ../partials/head.html %>

<body>

  <div class="layout ">
    <div class="promo-med  promo-block promo-block-visa-details" style="background-image:url(/images/russia-visa.jpg);">
      <header>
        <% include ../partials/header.html %>
      </header>


      <div class="modal fade" id="modal-get-started" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                        <i class="fa fa-times"></i>
                </span>
              </button>
           </div>
          </div>
        </div>
      </div>
        <!-- 4 steps -->
      <% include ../partials/foursteps.html %>
    </div>

<% include ../partials/visa-services.html %>
    <!-- visa services -->
    <section class="container main-content white caret-bottom" style="padding-bottom:50px">
      <br/><br/>
      <div class="container">
        <div class="row">
          <article class="content-block col-lg-9 col-md-8 col-sm-8">
            <h2>
              Ottawa thủ đô đẹp như mơ
            </h2>

            <div class="related-url">
              <ul>
                <li><a href="/dich-vu-visa/dat-nuoc/canada">Thủ tục xin visa Canada</a></li>
              </ul>
            </div>
            <p>
              Không nổi tiếng như Toronto, Vancouver hay Quebec nhưng Ottawa lại mang trong mình nhiều công trình kiến trúc và văn hóa đáng để bạn một lần đặt chân đến.
Ottawa là một thành phố của những người yêu nghệ thuật và là môi trường lý tưởng cho những ai muốn một cuộc sống thanh bình, êm ả ở nước Canada.
            </p>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="videoWrapper">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/l_9CqdflCws" frameborder="0" allowfullscreen></iframe>
              </div>

            </div>



          </article>
          <% include ../partials/side-box.html %>
        </div>
      </div>
    </section>

    <% include ../partials/why-us.html %>
    <% include ../partials/customer-say.html %>
    <% include ../partials/footer.html %>
    <% include ../partials/review.html %>
  </div>
  <% include ../partials/js.html %>
  <script src="/js/visa-services.js"></script>

</body>



</html>
