<!DOCTYPE html>
<html class="no-js" lang="en">


 <% include ../partials/head.html %>

<body>

  <div class="layout ">
    <div class="promo-med  promo-block promo-block-visa-details" style="background-image:url(/images/russia-visa.jpg);">
      <header>
        <% include ../partials/header.html %>
      </header>


      <div class="modal fade" id="modal-get-started" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                        <i class="fa fa-times"></i>
                </span>
              </button>
           </div>
          </div>
        </div>
      </div>
        <!-- 4 steps -->
      <% include ../partials/foursteps.html %>
    </div>

<% include ../partials/visa-services.html %>
    <!-- visa services -->
    <section class="container main-content white caret-bottom" style="padding-bottom:50px">
      <br/><br/>
      <div class="container">
        <div class="row">
          <article class="content-block col-lg-9 col-md-8 col-sm-8">
            <h2>
              Đây chính là 10 quốc gia đáng sống nhất thế giới
            </h2>
            <p>
              Với nhiều người và các quốc gia, việc đặt hơn 200 nước lên bàn cân để quyết định xem quốc gia nào hạnh phúc nhất là một điều không dễ dàng gì. Có những niềm hạnh phúc tới từ những điều nhỏ nhặt mà chắc chắn bạn không ngờ tới.
            </p>
            <p>
            Bản báo cáo về những quốc gia hạnh phúc nhất thế giới dựa vào các chuyên gia trong nhiều lĩnh vực cũng như mạng lưới giải pháp phát triển bền vững của Liên Hiệp Quốc sẽ cung cấp cho bạn một cái nhìn toàn diện về những quốc gia đáng sống nhất toàn cầu. Các chuyên gia đã dựa trên những số liệu về kinh tế, xã hội, tâm lý học được thu thập qua nhiều thế kỉ. 
Danh sách 10 đất nước hạnh phúc nhất thế giới chủ yếu bao gồm các quốc gia tới từ Bắc Âu và Châu Đại Dương, nơi có khí hậu ôn hòa và cảnh sắc thiên nhiên tươi đẹp. Đây cũng là những nước có nền kinh tế phát triển trong khu vực và trên toàn thế giới.
            </p>
            <p>
              <strong>10. Thụy Điển</strong><br/>
              Nằm ở khu vực Bắc Âu, Thụy Điển xếp thứ 10 trong danh sách các quốc gia hạnh phúc nhất thế giới. Đây là quê hương của giải thưởng Nobel hàng năm, vinh danh các nhà khoa học hàng đầu trên thế giới. Đất nước này có hệ thống y tế và giáo dục phát triển, cùng với môi trường sống trong lành và xanh mát. Một điểm thú vị là từ lâu, Thụy Điển đã hết rác thải nên phải nhập rác từ Phần Lan. 
            </p>
            <img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1409905-1000-1461080725-stockholm-446598-1920-1461140233089.jpg" />
            <img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410155-1000-1461080725-night-690041-1280-1461140233213.jpg" />
            <a href="/dich-vu-visa/dat-nuoc/thuy-dien">Xin visa Thụy Điển </a>
            <p>
<strong>9. Australia</strong><br/>
Là một quốc gia với diện tích rộng lớn tại khu vực châu Đại Dương, Australia thu hút hàng triệu du khách tới mỗi năm và với nhiều người, được nhập cư vào Australia là điều mà nhiều người mong ước. Với cảnh quan thiên nhiên đa dạng, con người thân thiện và xã hội phát triển, Australia cũng có mặt trong top các quốc gia hạnh phúc nhất thế giới.
Tuy nhiên, chi phí sinh hoạt tại quốc gia này cũng thuộc hàng cao nhất thế giới.
            </p>
            <img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410455-1000-1461080725-jay-ma-1461140233416.jpg" />
            <img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410005-1000-1461080725-tree-392068-1920-1461140233155.jpg" />
            <a href="/dich-vu-visa/dat-nuoc/uc">Xin visa Australia </a>
            <p>
<strong>8. New Zealand</strong><br/>
Kể từ khi bộ phim "chúa tể những chiếc nhẫn" được quay tại quốc gia này, New Zealand đã được nhiều người biết tới với những địa điểm tuyệt đẹp, được ví như chốn thiên đường trên trần gian mà chưa bị bàn tay con người đụng tới. Quốc gia có số cừu nhiều hơn số dân này là chốn yên bình cho bạn tận hưởng cuộc sống, đặc biệt cho những ai ưa thích sự yên tĩnh, thơ mộng. 
Chắc chắn, nhiều người đã mơ tới một căn nhà trên thảo nguyên, nhìn ra đỉnh núi trắng tuyết phủ, nơi bạn có thể nhâm nhi một ly cà phê sáng và ngắm đàn cừu thong dong gặm cỏ.
            </p>
            <img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1409655-1000-1461080725-photo-1451440063999-77a8b2960d2b-1461140232956.jpg" />
            <img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410505-1000-1461080725-newzealand-1461140233441.jpg" />
            <a href="/dich-vu-visa/dat-nuoc/new-zealand">Xin visa New Zealand</a>
            <p>
<strong>7. Hà Lan</strong><br/>
Bạn sẽ yên tâm về môi trường sống tại quốc gia mà người dân sử dụng xe đạp nhiều hơn các phương tiện thải ra khí CO2 hay các nguồn năng lượng tái tạo được sản xuất từ cối xay gió. Hà Lan nổi tiếng với vẻ đẹp cổ kính, hiền hòa với những con kênh vắt ngang thành phố với những con phố đa màu sắc. Tới đây, bạn không thể bỏ qua những cánh đồng hoa tulip trải tít tắp, nhuốm màu rực rỡ cho không gian.
            </p>
            <img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410255-1000-1461080725-clouds-windmill-crops-1461140233271.jpg" />
            <img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410355-1000-1461080725-amsterdam-1461140233351.jpg" />
            <a href="/dich-vu-visa/dat-nuoc/ha-lan">Xin visa Hà Lan</a>
            <p>

<strong>6. Canada</strong><br/>
Là quốc gia rộng thứ 2 thế giới nhưng chỉ có số dân ít ỏi do địa hình phần lớn là các lãnh nguyên và các vùng băng giá, Canada đứng thứ 6 trong bảng xếp hạng các quốc gia hạnh phúc nhất thế giới. Đất nước này là nơi thích hợp cho những tay săn ảnh với những khu rừng quốc gia hùng vĩ, cầu treo, những đàn thú hoang dã thong dong gặm cỏ và thác nước Niagra - một trong những thác nước đẹp nhất thế giới.
            </p>
            <img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410555-1000-1461080725-mountain-lake-918800-1920-1461140233469.jpg" />
            <img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410605-1000-1461080725-massey-hall-828619-1920-1461140233510.jpg" />
            <a href="/dich-vu-visa/dat-nuoc/canada">Xin visa Canada</a>
            <p>
<strong>5. Phần Lan</strong><br/>
Nằm cạnh Thụy Điển, xứ sở quê hương của ông già Noel cũng có tên trong danh sách các quốc gia hạnh phúc nhất thế giới. Cuộc sống hiền hòa của người dân và phong cảnh hữu tình với hệ thống sông hồ chằng chịt, nằm im lìm bên những lãnh nguyên và rừng cây ôn đới đã khiến nhiều du khách say mê quốc gia này. Phần Lan là địa điểm được nhiều du học sinh lựa chọn do chính sách miễn học phí và mức chi phí không quá đắt so với nhiều nước châu Âu.
</p>
<img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1409955-1000-1461080725-zakat-finlyandiya-doma-ozero-pejzazh-1461140233129.jpg" />
<img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410205-1000-1461080725-finland-1461140233240.jpg" />
<a href="/dich-vu-visa/dat-nuoc/phan-lan">Xin visa Phần Lan</a>
<p>
<strong>4. Na Uy</strong><br/>
Tới Na Uy, bạn có thể tìm thấy những câu chuyện cổ tích Grim, những khu vực thiên nhiên với địa hình Fjords ấn tượng. Trong những đêm hè, nếu may mắn, bạn sẽ bắt gặp những vầng sáng cực quang trên bầu trời. Chính vì những điều đó, Na Uy là quốc gia Bắc Âu thứ ba có tên trong danh sách các quốc gia hạnh phúc nhất trên thế giới. 
</p>
<img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410105-1000-1461080725-norvegiya-poberezhe-more-goryi-mayak-1461140233198.jpg" />
<img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1409805-1000-1461080725-norway-1461140233033.jpg" />
<a href="/dich-vu-visa/dat-nuoc/na-uy">Xin visa Na Uy</a>
<p>
<strong>3. Iceland</strong><br/>
Điểm ấn tượng nhất của quốc gia này là những dạng địa hình phức tạp có một không hai trên thế giới. Quốc gia nằm tách biệt trên hòn đảo giữa Đại Tây Dương Iceland mang những sắc màu huyền bí, thôi thúc du khách muốn đến và trải nghiệm.
</p>
<img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1409705-1000-1461080725-photo-1449960276497-6f52103ce9d7-1461140232985.jpg" />
<img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410405-1000-1461080725-iceland-1461140233386.jpg" />
<a href="/dich-vu-visa/dat-nuoc/iceland">Xin visa Iceland</a>
<p>
<strong>2. Thụy Sỹ</strong><br/>
Xếp thứ hai trong danh sách các quốc gia hạnh phúc trên thế giới là Thụy Sỹ. Đất nước nhỏ bé nằm lọt thỏm giữa châu Âu này được che phủ với phần lớn diện tích là rừng núi. Nếu có ai đó từng nói với bạn rằng ăn chocolate sẽ giúp bạn hạnh phúc hơn thì Thụy Sỹ là quốc gia mà bạn nên tìm đến. Đây là nơi sản xuất những loại chocolate thượng hạng bậc nhất trên thế giới mà không một thực khách nào có thể cưỡng lại được.
</p>
<img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410055-1000-1461080725-switzerland-europe-matterhorn-aosta-valley-1461140233174.jpg"/>
<img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1410305-1000-1461080725-castle-977828-1920-1461140233323.jpg"/>
<a href="/dich-vu-visa/dat-nuoc/thuy-sy">Xin visa Thụy Sỹ</a>
<p>
<strong>1. Đan Mạch</strong><br/>
Chắc bạn sẽ không khỏi ngạc nhiên khi vị trí đầu tiên trên bảng xếp hạng vinh danh một quốc gia Bắc Âu còn lại, Đan Mạch. Đất nước nhỏ bé với các câu chuyện cổ Andersen này được coi là nơi hạnh phúc nhất trên hành tinh này. Những lâu đài cổ, những khu phố đầy màu sắc và cảnh quan thiên nhiên hùng vĩ là điểm ấn tượng mà du khách không thể bỏ qua khi tới với Đan Mạch. 
</p>
<img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1409755-1000-1461080725-pexels-photo-40114-1461140233008.jpeg" />
<img class="img-responsive image-post" src="https://kenh14cdn.com/2016/1409855-1000-1461080725-shutterstock-378539728-1461140233066.jpg" />
<a href="/dich-vu-visa/dat-nuoc/dan-mach">Xin visa Đan Mạch</a>
<p>
Chắc chắn, bạn cũng sẽ cảm thấy hạnh phúc hơn rất nhiều khi có dịp thưởng ngoạn vẻ đẹp thiên nhiên và cuộc sống con người tại quốc gia Bắc Âu này,
</p>
          </article>
          <% include ../partials/side-box.html %>
        </div>
      </div>
    </section>

    <% include ../partials/why-us.html %>
    <% include ../partials/customer-say.html %>
    <% include ../partials/footer.html %>
    <% include ../partials/review.html %>
  </div>
  <% include ../partials/js.html %>
  <script src="/js/visa-services.js"></script>

</body>



</html>
