<!DOCTYPE html>
<html class="no-js" lang="en">


 <% include ../partials/head.html %>

<body>

  <div class="layout ">
    <div class="promo-med  promo-block promo-block-visa-details" style="background-image:url(/images/russia-visa.jpg);">
      <header>
        <% include ../partials/header.html %>
      </header>


      <div class="modal fade" id="modal-get-started" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                        <i class="fa fa-times"></i>
                </span>
              </button>
           </div>
          </div>
        </div>
      </div>
        <!-- 4 steps -->
      <% include ../partials/foursteps.html %>
    </div>

<% include ../partials/visa-services.html %>
    <!-- visa services -->
    <section class="container main-content white caret-bottom" style="padding-bottom:50px">
      <br/><br/>
      <div class="container">
        <div class="row">
          <article class="content-block col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2>
              Thủ tục xin visa <%=country%> <%=visaType%> :
            </h2>
            <img src="https://wiki-travel.com.vn/Uploads/Picture/thanhhuong-163504033554-nhung-dia-diem-khong-nen-bo-lo-khi-den-london-5.jpg" class="img-responsive"/>
            <p>
              Bài viết sẽ giải quyết các thắc mắc về thủ tục xin visa <%=visaType%> <%=country%>.
              Mọi người sẽ thấy xin visa <%=country%> không khó như đã nghĩ sau khi đọc hết bài nhé.
            </p>
            <strong>
              Đầu tiên là chuẩn bị Hồ sơ bản thân:
            </strong>
            <ol type="1">
              <li>Hộ chiếu gốc đã ký tên, còn hạn ít nhất 6 tháng, còn trang trống và hộ chiếu cũ (nếu có)</li>
              <li>Bản sao công chứng sổ hộ khẩu (trên khổ A4, không cắt nhỏ)</li>
              <li>Giấy đăng ký kết hôn (nếu đã kết hôn) / Giấy xác nhận độc thân (nếu còn độc thân) / Quyết định ly hôn của tòa án (nếu đã ly hôn) / Giấy chứng tử (nếu vợ/chồng đã mất);</li>
            </ol>
            <strong>
              Kế tiếp, bạn phải chứng minh công việc và thu nhập:
            </strong>
            <ol type="1">
              <li> Nếu bạn là cán bộ, nhân viên thì phải chuẩn bị:
                <ul>
                  <li>Bản sao công chứng Hợp đồng lao động / Quyết định tuyển dụng / Quyết định bổ nhiệm / Quyết định tăng lương</li>
                  <li>Bản chính đơn xin nghỉ phép đi du lịch;</li>
                  <li>Bảng lương / Sao kê tài khoản nhận lương trong 3 tháng gần nhất</li>
                </ul>
              </li>
              <li> Nếu bạn là chủ doanh nghiệp, hộ kinh doanh:
                <ul>
                  <li>Bản sao công chứng giấy đăng ký kinh doanh</li>
                  <li>Biên lai nộp thuế 3 tháng / quý gần nhất</li>
                  <li>Sao kê tài khoản công ty trong 3 tháng gần nhất</li>
                </ul>
              </li>
              <li>
                Nếu bạn là học sinh, sinh viên:
                <ul>
                  <li>Thẻ học sinh, sinh viên / Giấy xác nhận đang học tại trường</li>
                  <li>Đơn xin nghỉ học có xác nhận của trường</li>
                </ul>
              </li>
               <li>
                 Đối với người đã nghỉ hưu:
                 <ul>
                   <li>Thẻ hưu trí, quyết định nghỉ hưu, sổ lĩnh lương hưu</li>
                 </ul>
               </li>
            </ol>
            <strong>
              Tiếp đến, bạn phải chứng minh tài chính đủ khả năng chi trả cho chuyến đi:
            </strong>
            <ol type="1">
              <li>Giấy chứng nhận quyền sử dụng đất, sở hữu nhà ở</li>
              <li>Giấy chứng nhận sở hữu các tài sản khác như xe hơi, cổ phiếu, cổ phần, trái phiếu (nếu có)</li>
              <li>Photo thẻ Master card hoặc visa Card (nếu có)</li>
              <li>Sổ tiết kiệm có giá trị từ 100 triệu trở lên (nhưng phải phù hợp với thu nhập) và giấy xác nhận số dư của sổ tại thời điểm hiện tại.</li>
            </ol>

            <strong>
              Và cuối cùng, phần quan trọng không kém, các mẫu đơn bạn phải điền:
            </strong>
            <ol type="1">
              <li>Tờ khai xin visa <%=country%> - Form IMM5257</li>
              <li>Tờ khai thông tin gia đình - Form IMM5645</li>
              <li>Mẫu chấp thuận CVAC và sử dụng dịch vụ của VFS</li>
              <li>Form sử dụng người đại diện IMM5476 (nếu sử dụng người đại diện)</li>
            </ol>

            <strong>Lưu ý </strong>:
              Chữ ký của đương đơn trong tờ khai phải giống với chữ ký trên hộ chiếu<br/>
              Các bạn sẽ nộp hồ sơ và được chụp hình, lấy dấu vân tay tại Trung tâm tiếp nhận thực <%=country%>, địa chỉ: 162 Pasteur, phường Bến Nghé, Quận 1, TPHCM. Khi đi, bạn mang theo khoảng 148 USD để đóng phí, nhớ đổi ra đô lẻ nha, trung tâm này có khi thối lại 2 USD, có khi không .Sau đó, về nhà đợi kết quả thôi! Thông thường, lãnh sự quán <%=country%> sẽ xét duyệt hồ sơ từ 4 – 6 tuần, hoặc có thể nhanh hơn, tuỳ thuộc vào tình hình hồ sơ của bạn!
            </p>
            <div>
              Nếu có bất cứ thắc mắc nào về thủ tục, bạn hãy liên hệ với <b>Visa Bầu Trời xanh</b> theo số hotline: <a href="tel:0976910228">0976 910 228</a> – <a href="tel:0902603383">0902 603 383</a>
            </div>
            <br/>
            <div class="videoWrapper">
              <iframe width="100%" src="https://www.youtube.com/embed/BoO0z3Fljpo" frameborder="0" allowfullscreen></iframe>
            </div>

          </article>
          <% include ../partials/side-box.html %>
        </div>
      </div>
    </section>

    <% include ../partials/why-us.html %>
    <% include ../partials/customer-say.html %>
    <% include ../partials/footer.html %>
    <% include ../partials/review.html %>
  </div>
  <% include ../partials/js.html %>
  <script src="/js/visa-services.js"></script>

</body>



</html>
