<!DOCTYPE html>
<html class="no-js" lang="en">


 <% include ../partials/head.html %>

<body>

  <div class="layout ">
    <div class="promo-med  promo-block promo-block-visa-details" style="background-image:url(/images/russia-visa.jpg);">
      <header>
        <% include ../partials/header.html %>
      </header>


      <div class="modal fade" id="modal-get-started" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                        <i class="fa fa-times"></i>
                </span>
              </button>
           </div>
          </div>
        </div>
      </div>
        <!-- 4 steps -->
      <% include ../partials/foursteps.html %>
    </div>


    <!-- visa services -->
    <section class="container main-content">
      <br/><br/>
      <div class="container">
        <div class="row">
          <article class="content-block col-lg-9 col-md-8 col-sm-8">
            <h2>
              Những giấy tờ cần chuẩn bị khi làm thủ tục xin visa <%=country%> <%=visaType%> gồm:
            </h2>
            <ol type="1">
              <li>
                02 hình 3.5 x 4.5 cm (nền trắng không quá 6 tháng)
              </li>
              <li>Hộ chiếu còn hạn 6 tháng</li>
              <li>CMND (sao y bản chính)</li>
              <li>Sổ hộ khẩu (bản sao 16 trang, sao y bản chính)</li>
              <li>Giấy đăng kí kết hôn/ly hôn (bản sao, sao y bảng chính)</li>
              <li>Giấy khai sinh (sao y bản chính)</li>
              <li>Sơ yếu lý lịch theo mẫu</li>
              <li>Chứng minh tài chính: Giấy tờ nhà đất (photo, sao y bảng chính), sổ tiết kiệm hoặc số dư tài khoản tại thời điểm hiện tại (xác nhận của ngân hàng)</li>
              <li>
                Chứng minh công việc:
                <span>
                  Chủ doanh nghiệp: giấy phép kinh doanh, biên lai nộp thuế 3 tháng gần nhất nếu có (photo, sao y bản chính)<br/>
  	              Nhân viên: hợp đồng lao động, bảng lương 3 tháng gần nhất (bản sao, có đóng dấu treo công ty), đơn xin nghỉ phép đi du lịch được xác nhận từ chủ lao động ghi rõ tên và chức vụ của người nộp đơn.<br/>
                  Người về hưu: Quyết định nghỉ hưu, thẻ hưu, sổ hưu<br/>
                  Trẻ em 18 tuổi không có bố mẹ đi cùng cần có giấy đồng ý của bố hoặc mẹ có xác nhận của chính quyền địa phương, bản sao công chứng giấy khai sinh của trẻ và bản sao CMND của bố hoặc mẹ<br/>
                </span>
              </li>
            </ol>
            <strong>Lưu ý </strong>:
              Tất cả các giấy tờ photo một mặt trên khổ giấy A4, không cắt nhỏ<br/>
              Những giấy tờ làm thủ tục xin visa Bồ Đào Nha thăm thân ở trên có thể thay đổi theo yêu cầu của cơ quan lãnh sự Bồ Đào Nha. Vì vậy để biết chính xác cần phải chuẩn bị những gì để có thể hoàn thiện hồ sơ xin visa Bồ Đào Nha, vui lòng liên hệ với Bầu trơì xanh để được tư vấn.

            </p>
            <div>

            </div>
          </article>
          <div class="col-lg-3 col-md-4 col-sm-4 sidebar">
            <div class="side-box">
							<strong class="head">Liên hệ ngay hotline</strong>
							<ul class="side-menu">
                  <li><a href="tel:0976910228">0976.910.228</a></li>
                  <li><a href="tel:0902603383">0902.603.383</a></li>
							</ul>
						</div>
            <div class="side-box trust-reviews">
        <div class="side-testimonials">
        <p>Dịch vụ rất nhanh và uy tín, tiết kiệm cho tôi rất nhiều thời gian</p>
        <div class="trust-wrap">
        	<img class="img-circle" src="/images/ico-people02.png" alt="anh Nhân">
            <div class="trust-name">
                <p><strong>Anh Nhân</strong></p>
                <p class="trust-stars">

               </p><div class="star-rating clearfix star-5">
                    <div class="star-1"><img src="/images/sprite_star.png" width="10" height="10"></div>
                    <div class="star-2"><img src="/images/sprite_star.png" width="10" height="10"></div>
                    <div class="star-3"><img src="/images/sprite_star.png" width="10" height="10"></div>
                    <div class="star-4"><img src="/images/sprite_star.png" width="10" height="10"></div>
                    <div class="star-5"><img src="/images/sprite_star.png" width="10" height="10"></div>
                </div>

                <p></p>
            </div>
        </div>
        </div>
    </div>
          </div>

        </div>
      </div>
    </section>

    <% include ../partials/footer.html %>
  </div>
  <% include ../partials/js.html %>
  <script>
    //init country select box
    $('document').ready(function(){

      var $countrySlc = $('#country_slc');
      for(cIndex in countries){
        $countrySlc.append($('<option/>', {
           value: cIndex,
           text : countries[cIndex]
        }));
      }
      $countrySlc.selectpicker({
        style: 'btn-info',
        size: 4
      });
      $countrySlc.on('change',function(e){
        var cIndex = $(this).val();
        var selectedCountry = countries[cIndex];
        var displayCountry =  selectedCountry.substring(0,selectedCountry.indexOf('('));
        console.log(cIndex);
        if(visaNotRequiredCountries.indexOf(parseInt(cIndex)) >= 0){
          $('.moreThan30Days').show();
        } else{
          $('.moreThan30Days').hide();
        };
        $('[type="uc"]').html(displayCountry);
        $('#supported_service').show();
      });
    });
  </script>

</body>

<!-- Mirrored from www.passportsandvisas.com/visas/russia by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 29 Oct 2017 06:04:50 GMT -->

</html>
