<!DOCTYPE html>
<html class="no-js" lang="en">


 <% include ../partials/head.html %>

<body>

  <div class="layout ">
    <div class="promo-med  promo-block promo-block-visa-details" style="background-image:url(/images/russia-visa.jpg);">
      <header>
        <% include ../partials/header.html %>
      </header>


      <div class="modal fade" id="modal-get-started" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                        <i class="fa fa-times"></i>
                </span>
              </button>
           </div>
          </div>
        </div>
      </div>
        <!-- 4 steps -->
      <% include ../partials/foursteps.html %>
    </div>

    <% include ../partials/visa-services.html %>
    <!-- visa services -->
    <section class="container main-content">
      <br/><br/>
      <div class="container">
        <div class="row">
          <article class="content-block col-lg-9 col-md-8 col-sm-8">
            <h2>
              Làm visa Hà Lan du lịch tự túc
            </h2>
            <p>
              Bạn đang có dự định đi du lịch đất nước Hà Lan hay cả châu Âu? Bạn đang mong ước được tới thành phố Amsterdam cổ kính và thơ mộng. Ngắm những đồng cỏ xanh mượt và những con bò trắng đang gặm cỏ. Hay những vườn hoa tulip đẹp tuyệt trần. Nhưng lại đang gặp khó trong vấn đề về làm visa? . Bầu trời xanh chúng tôi xin được gửi tới bạn dịch vụ làm visa Hà Lan du lịch tự túc nhanh nhất và uy tín nhất TP. Hồ Chí Minh.
            </p>
            <img class="img-responsive image-post" src="/images/lam-visa-ha-lan-du-lich-tu-tuc-h1.jpg" alt="làm visa Hà Lan du lịch tự túc hình 1" />
            <p class="img-description">Du lịch Hà Lan BTX</p>
            <p>
              Khi bạn có được visa Hà Lan không những bạn chỉ đi du lịch mỗi đất nước Hà Lan mà bạn còn có thể đi du lịch đc hẳn 26 quốc gia Châu Âu nữa. Vì Đât nước của “đội bóng cơn lốc Màu Da Cam” này đã tham gia vào khối Schengen. Bạn sẽ được cung cấp visa Schengen thỏa mãn ước mơ đi du lịch toàn Châu Âu của bạn. Không những bạn có nhu cầu đi du lịch Hà Lan, mà còn có nhu cầu đi thăm người thân nữa. Thì chúng tôi cũng sẵn lòng cung cấp tới bạn <a href="/visa/visa-tham-than/Hà%20Lan">dịch vụ làm visa Hà Lan thăm người thân</a>.
            </p>
            <img class="img-responsive image-post" src="/images/lam-visa-ha-lan-du-lich-tu-tuc-h2.jpg" alt="làm visa Hà Lan du lịch tự túc hình 2" />
            <p class="img-description">Du lịch Hà Lan Tự Túc BTX</p>
            <p>
              Bạn và người thân của bạn cũng phải chuẩn bị rât nhiều thủ tục pháp lý để thực hiện được chuyến đi thăm người thân một cách nhanh chóng và thuận tiện. Thì bạn nên liên hệ ngay với chúng tôi để được giải đáp mọi thắc mắc của bạn.
            </p>
            <p>
              Hiện tại ở thành phố Hồ Chí Minh những trung tâm cung cấp dịch vụ làm visa mọc lên nhiều lên như nấm với chất lượng và nhiều mức giá tiền khác nhau. Trong đó không thiếu những trung tâm kém về uy tín chất lượng trong dịch vụ làm visa mà còn mang tính “chặt chém” khi hét khách hàng với mức giá “trên trời”. Bầu Trời Xanh với uy tín nhiều năm được khẳng định bởi sự tin tưởng yêu quý của khách hàng. Chúng tôi xin được vinh dự cung cấp tới các bạn dịch vụ visa Hà Lan ở Hồ Chí Minh uy tín và giá cả cạnh tranh nhất. Đảm bảo sự an tâm tin tưởng tuyệt đối khi bạn sử dụng dịch vụ visa Hà Lan hcm của Bầu Trời Xanh. Đến với chúng tôi bạn sẽ cảm nhận được sự nhiệt tình chuyên nghiệp, sẽ không làm bạn phải thất vọng khi chọn chúng tôi làm đối tác.
            </p>
            <img class="img-responsive image-post" src="/images/lam-visa-ha-lan-du-lich-tu-tuc-h3.jpg" alt="làm visa Hà Lan du lịch tự túc hình 3" />
            <p class="img-description">Du lịch Hà Lan Tự Túc BTX</p>
            <p>
              Vậy nếu bạn đang ở Tp Hồ Chí Minh mà đang có nhu cầu, dự định đi lịch hay thăm người thân ở đất nước Hà Lan. Hãy liên hệ ngay với Bầu Trời Xanh, để có được trải nghiệm tốt nghiệm nhất khi sử dụng dịch vụ Làm Visa Hà Lan du lịch tự túc uy tín số 1 Tp  Hồ Chí Minh. Để giấc mơ đến với đất nước Hà Lan xinh đẹp không còn nằm ngoài tầm tay của bạn.
            </p>
            <h2>
              Những giấy tờ cần chuẩn bị khi làm thủ tục xin visa <%=country%> <%=visaType%> gồm:
            </h2>
            <ol type="1">
              <li>
                02 hình 3.5 x 4.5 cm (nền trắng không quá 6 tháng)
              </li>
              <li>Hộ chiếu còn hạn 6 tháng</li>
              <li>CMND (sao y bản chính)</li>
              <li>Sổ hộ khẩu (bản sao 16 trang, sao y bản chính)</li>
              <li>Giấy đăng kí kết hôn/ly hôn (bản sao, sao y bảng chính)</li>
              <li>Giấy khai sinh (sao y bản chính)</li>
              <li>Sơ yếu lý lịch theo mẫu</li>
              <li>Chứng minh tài chính: Giấy tờ nhà đất (photo, sao y bảng chính), sổ tiết kiệm hoặc số dư tài khoản tại thời điểm hiện tại (xác nhận của ngân hàng)</li>
              <li>
                Chứng minh công việc:
                <span>
                  Chủ doanh nghiệp: giấy phép kinh doanh, biên lai nộp thuế 3 tháng gần nhất nếu có (photo, sao y bản chính)<br/>
  	              Nhân viên: hợp đồng lao động, bảng lương 3 tháng gần nhất (bản sao, có đóng dấu treo công ty), đơn xin nghỉ phép đi du lịch được xác nhận từ chủ lao động ghi rõ tên và chức vụ của người nộp đơn.<br/>
                  Người về hưu: Quyết định nghỉ hưu, thẻ hưu, sổ hưu<br/>
                  Trẻ em 18 tuổi không có bố mẹ đi cùng cần có giấy đồng ý của bố hoặc mẹ có xác nhận của chính quyền địa phương, bản sao công chứng giấy khai sinh của trẻ và bản sao CMND của bố hoặc mẹ<br/>
                </span>
              </li>
            </ol>
            <strong>Lưu ý </strong>:
              Tất cả các giấy tờ photo một mặt trên khổ giấy A4, không cắt nhỏ<br/>
              Những giấy tờ làm thủ tục xin visa <%=country%> thăm thân ở trên có thể thay đổi theo yêu cầu của cơ quan lãnh sự <%=country%>. Vì vậy để biết chính xác cần phải chuẩn bị những gì để có thể hoàn thiện hồ sơ xin visa <%=country%>, vui lòng liên hệ với Bầu trơì xanh để được tư vấn.
            </p>
            <div>
              <p>
                Chắc hẳn nhiều bạn đang thắc mắc liệu xin visa Hà Lan có khó không ?. Câu trả lời là việc xin visa Hà Lan hoàn toàn đơn giản và dễ dàng. Nếu như bạn cung cấp đc đầy đủ chi tiết các giấy tờ, thông tin cần thiết. Và tìm đến đúng trung tâm có thể  cung cấp cho bạn dịch vụ làm visa Hà Lan uy tín nhất.  Thì giấc mơ được ngắm những vườn hoa tulip đẹp rực rỡ, những cối xay gió khổng lồ đã nằm trong tầm tay của bạn.
              </p>
            </div>
          </article>
          <% include ../partials/side-box.html %>
        </div>
      </div>
    </section>

    <% include ../partials/why-us.html %>
    <% include ../partials/customer-say.html %>
    <% include ../partials/footer.html %>
    <% include ../partials/review.html %>
  </div>
  <% include ../partials/js.html %>
  <script src="/js/visa-services.js"></script>

</body>



</html>
